* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    transform: translateX(-100%);
    width: 310px;
    height: 65px;
    position: absolute;
    top: 2%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 4px solid #16c364;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
}

@keyframes ShowBox {
    0% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        transform: translateX(5%);
    }
}

.box.show {
    animation: ShowBox 1s ease forwards;
}


@keyframes HideBox {
    0% {
       
        transform: translateX(5%);
    }

    40% {
        transform: translateX(10%);
    }

    80%,
    100% {
        transform: translateX(-100%);
    }
}

.box.hide {
    animation: HideBox 1s ease forwards;
}

#iconWifi {
    position: absolute;
    left: 5%;
    border-radius: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.bx-x {
    position: absolute;
    right: 5%;
    border-radius: 50px;
    background-color: rgb(239, 239, 239);
    color: gray;
    padding: 6px;
    cursor: pointer;
}

.title {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
}

.subTitle {
    padding: 0;
    margin: 0;
    color: gray;
    font-size: 15px;
}